.CardItem {
    width: 20rem;
    height: auto;
    border: 1px rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    background-color: white;
    margin: 1%;

    .ItemImg {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .ItemHeader {
        background-color: rgba(255, 255, 255, 0);
        text-align: center;

    }

    .Info {
        background-color: white;
        text-align: center;
    }

    .Button {
        border-radius: 5px;
        border: 0px;
        font-style: normal;
        font-size: medium;
        color: white;
        background-color: rgb(44, 110, 217);
        padding:8px 5px 8px 5px;
        justify-content: center;
    }

}